.contenido 
    contenedor()
    margin-bottom: 40px
    justify-content: space-evenly  

.caja 
    max-width: 430px;
    caja-sombra()
    &__contenido
        padding:20px;
        backgorund-color: color-claro;
        span 
            text-transform: uppercase
            color: color-secundario
            font-family: Fuente2
        h3 
            text-transform: uppercase
            font-weight: normal
            font-family: Fuente2

   