.contenido 
    contenedor()
    margin-bottom: 40px
    justify-content: space-evenly;
    .caja 
        max-width: 430px;
        caja-sombra()
        &__contenido
            padding:20px;
            background-color: color-claro;
            span 
                color: color-secundario
                //Codigo reemplazado por funcion "titulos()" 
                //font-family: Fuente2
                //text-transform: uppercase
                titulos(Fuente2)

            h3 
                //Codigo reemplazado por funcion "titulos()" 
                //font-family: Fuente2
                //text-transform: uppercase
                //font-weight: normal
                titulos(Fuente2) 



   